@import "/src/Styles/Styles";

.Grid {
  // height: 85%;
  width: 90%;
  display: grid;
  justify-content: center;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  @include breakpoint-md(md) {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
  }
}
.Avatar {
  width: 320px;

  &__content {
    padding: 10px;
    width: 100%;
    p {
      margin: 2px 0px;
    }
  }
  &__imgContainer {
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 300px;
    height: 350px;
  }

  &__img {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.5s ease !important;
    }
  }

  &__name {
    font-weight: bolder;
    font-size: larger;
    color: $font-color;
  }
  &__title {
    font-weight: lighter;
    color: $font-color-text;
  }
}
