
// @import "globals";


@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

$font-family:'Dosis', sans-serif;

$font-gothic:'Didact Gothic', sans-serif;

//colors!!

$background-color:#e8effd;

$nav-background:white;

$nav-font-size:17px;

$font-color:#2F662D;

$font-color-text:#333;

$font-color_dark:#222E50;

$font-color_light:#ACB0BD;

$font-color-active:#489946;

$boxShadow: 5px 5px 3px rgba(0, 0, 0, 0.25);

$textShadow: 3px 3px 4px rgba(0, 0, 0, 0.25);

//fonts
$fontSans:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$fontMono:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;

// spacing
$spacing-md: 16px;
$spacing-lg:32px;
$padding1 :20px;
$size-gutter:32px;
$size-content:58rem;

//Size

$header-hth:350px;

//query

@mixin breakpoint-sd($point){
    @if $point == sd {
        //640px
        @media (min-width:40em){
            @content;
        }
    }
}

@mixin breakpoint-md($point){
    @if $point == md {
        //768px
        @media (min-width:48em){
            @content;
        }
    }
}

@mixin breakpoint-ld($point){
    @if $point == ld {
        //1008px
        @media (min-width:63em){
            @content;
        }
    }
}