
// @import "globals";


@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

$font-family:'Dosis', sans-serif;

$font-gothic:'Didact Gothic', sans-serif;

//colors!!

$background-color:#e8effd;

$nav-background:white;

$nav-font-size:17px;



$font-color:#2F662D;

$font-color-text:#333;

$font-color_dark:#222E50;

$font-color_light:#ACB0BD;

$font-color-active:#489946;

$font-size:18px;

$boxShadow: 5px 5px 3px rgba(0, 0, 0, 0.25);

$textShadow: 3px 3px 4px rgba(0, 0, 0, 0.25);

//fonts
$fontSans:-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
sans-serif, "Apple Color Emoji", "Segoe UI Emoji";

$fontMono:SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
"Courier New", monospace;

// spacing
$spacing-md: 16px;
$spacing-lg:32px;
$padding1 :20px;
$size-gutter:32px;
$size-content:55rem;

//Size

$header-hth:350px;

//query

@mixin breakpoint-sd($point){
    @if $point == sd {
        //389px
        @media (min-width:389px){
            @content;
        }
    }
}

@mixin breakpoint-md($point){
    @if $point == md {
        //768px
        @media (min-width:768px ){
            @content;
        }
    }
}

@mixin breakpoint-ld($point){
    @if $point == ld {
        //1008px
        @media (min-width:63em){
            @content;
        }
    }
}

:root {
    --border-radius: 4px;
    --color-text: #333;
    --color-primary: #2F662D;
    --color-code-bg: #fff4db;
    --color-code: #8a6534;
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    --font-lg: 18px;
    --font-md: 16px;
    --font-sm: 14px;
    --font-sx: 12px;
    --line-height-loose: 1.75;
    --line-height-normal: 1.5;
    --line-height-dense: 1.1;
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 32px;
    --space-6: 64px;
    --size-content: 64rem;
    --size-gutter: var(--space-5);
    --size-gap: var(--space-6);
  }