@import "utilities";

*:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

.nav-links {
  color: $nav-color;
  // font-size: $nav-font-size;
  font-size: var(--font-sm);
  text-decoration: none;
}


