$font-family:'Dosis', sans-serif;

$background-color:#e8effd;

$nav-background:white;

$nav-font-size:17px;

$nav-color:#0137a7;

$boxShadow: 5px 5px 3px rgba(0, 0, 0, 0.25);

$textShadow: 3px 3px 4px rgba(0, 0, 0, 0.25);