@import "/src/Styles/Styles";

.Navbar {
  background-color: $font-color_dark;
  padding: 0 1.5rem;
  width: 100%;
  @include breakpoint-md(md) {
    padding: 0 3rem;
  }
  transition: 0.3s ease all;

  .border {
    display: flex;
    justify-content: center;
    background-color: grey;
    border-radius: 2px;
    height: 2px;
    width: 100%;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
    height: 100%;
    position: relative;
    z-index: 100;
  }

  &__logo {
    margin: 10px;
  }

  &__links {
    position: fixed;
    width: 100%;
    height: 100vh;

    // inset is a short hand for top, right, bottom, left
    left: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    // padding: 24px var(--size-gutter);
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    background: rgba($font-color_light, 0.9);
    backdrop-filter: blur(0.2rem);
    transform: translate(100%);
    transition: 0.5s ease transform;
    // link padding
    padding: 20px 20px 130px 0px;
    font-size: 30px;

    @include breakpoint-md(md) {
      right: 100%;
    top: 0;
    bottom: 0;
      transform: none;
      flex-direction: row;
      background-color: transparent;
      width: auto;
      height: 100%;
      position: static;
      padding: 0px 0px 20px 0px;
      font-size: 20px;
      // margin-bottom: ;
    }
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      margin-bottom: $spacing-lg;
      @include breakpoint-md(md) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        margin-right: calc(0.5rem + #{spacing-md});
      }

      li {
        &:mot(:last-child) {
          // margin-bottom: $spacing-lg;
          @include breakpoint-md(md) {
            margin-bottom: 0;
            margin-right: $spacing-md;
          }
        }
        a {
          text-decoration: none;
          color: inherit;
          padding: 0.75rem 1.25rem;
          border-radius: 15px;
          transition: 0.3s ease all;
          font-weight: bold;
          color: $font-color;

          &:hover {
            color: $font-color-active;
          }
          // &:active{
          //   border-radius: calc(#{15px} + 6px);
          //   background: linear-gradient(
          //     rgba($font-color_light, 0.1),
          //     rgba($font-color_light, 0.2)
          //   );
          // }
        }
      }
    }

    button {
      cursor: pointer;
      outline: none;
      padding: 0.75em 1.25rem;
      border-radius: 15px;
      font-size: 1rem;
      font-family: inherit;
      color: $font-color;
      border: 1px solod transparent;
      transition: 0.3s ease all;
    }

    //CAUSED ISSUES ON HOVER and ACTIVE SLIDE

    // &:hover {
    //   border-color: $nav-color;
    //   background-color: $nav-color_light;
    //   color: $nav-color;
    // }

    // &:active {
    //   border-color: $nav-color;
    //   background: linear-gradient(
    //     rgba($nav-color_light, 0.1),
    //     rgba($nav-color_light, 0.2)
    //   );
    //   color: $nav-color;
    // }

    &.isMenu {
      transform: translate(0);
    }
  }

  &__toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 2rem;
    transition: 0.3s ease all;
    position: relative;
    color: $font-color;

    &:hover {
      color: $font-color-active;
    }

    @include breakpoint-md(md) {
      display: none;
    }
  }
}
