@import "/src/Styles/Styles";

footer {
  width: 100%;
  margin: 50px 0px 0px 0px;
  height: auto;
  background-color: $font-color_dark;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .footercont {
    // width: 100%;

    background-color: $font-color_dark;
    height: auto;
    margin: 40px 20px;
    #logo2 {
      padding: 10px 40px;
      width: 180px;
      height: 70px;
    }

    .border {
      display: flex;
      justify-content: center;
      background-color: grey;
      border-radius: 2px;
      height: 2px;
      width: 100%;
    }
  }
}

/* FOOTER LINKS */

.footerlinks {
  width: 100%;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(1, 1fr);
  color: $font-color;

  @include breakpoint-md(md) {
    display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(3, 1fr);
        color: $font-color;
  }

  .symbol {
    width: 400px;
    p {
      color: white;
    }
  }

  .address {
    p {
      color: white;
    }
  }
  ul {
    margin: 30px 40px;
    line-height: 15px;
    list-style: none;

    .foothead {
      font-size: 25px;
      margin-bottom: 15px;
    }

    li a {
      margin: 0px;
      line-height: 30px;
      text-decoration: none;
      color: white;
      font-size: $font-size;

      &:hover {
        color: $font-color-active;
        transition: color 0.2s;
      }
    }
  }
}
